.donut-chart {
    margin: auto; /* Center the SVG horizontally */
}

.tooltip_donut {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    pointer-events: none; /* Prevents tooltip from interfering with mouse events */
    visibility: hidden;
}
